*~
*.cmo
*.cmi
*.cmx
*.cmxs
*.cmxa
*.annot
*.output
*.automaton
*.conflicts
*.o
*.a
*.class
*.d
*.di
*.opt
*.pyc
tmp
diffviewer/DiffViewer-darwin-x64
diffviewer/node_modules
diffviewer/icon.png*
diffviewer/package-lock.json
diffviewer/tmp